In [1]:
import numpy as np
import pandas as pd

In [2]:
cen = pd.read_csv('../data/processed/censimento.csv')
mc = pd.read_excel('/Users/navid/Documents/1_Projects/0_Age-It/Our Tasks/Mario_report/data/MassaCritica.xlsx')
rec = pd.read_excel('/Users/navid/Documents/1_Projects/0_Age-It/Our Tasks/Mario_report/data/PersonaleReclutato.xlsx')
ssd = pd.read_excel('../data/SSD_V3_area.xlsx')

In [3]:
len(mc)

379

In [4]:
cen.head(3)

,Nome,Cognome,Codice fiscale,SSD,Email,age
0,Daniela,Trisciuoglio,TRSDNL73R55H501N,BIOS-10/A,daniela.trisciuoglio@cnr.it,53
1,Serena,Sanna,SNNSRN80S55H856X,BIOS-04/A,serena.sanna@cnr.it,46
2,Francesca,Cavalcanti,CVLFNC61T56D086E,BIOS-11/A,francesca.cavalcanti@irib.cnr.it,65

In [5]:
mc['MC'] = True
mc.head(3)

,Codice,Soggetto,CUP,Nome,Cognome,Codice fiscale,Inquadramento contrattuale,Impegno contrattuale,Modalità di rendicontazione,Livello,Costo orario €,Ruolo ricoperto,MC
0,PE_00000015,Consiglio Nazionale delle Ricerche - CNR,B83C22004880006,Daniela,Trisciuoglio,TRSDNL73R55H501N,Ricercatore,tempo pieno,Rendicontazione a costi standard,ALTO - EPR,NaN,Spoke,True
1,PE_00000015,Consiglio Nazionale delle Ricerche - CNR,B83C22004880006,Tiziana,Tesauro,TSRTZN71H58F205V,Ricercatore (III livello),tempo pieno,Rendicontazione a costi standard,MEDIO - EPR,NaN,Affiliato,True
2,PE_00000015,Consiglio Nazionale delle Ricerche - CNR,B83C22004880006,Pietro,Siciliano,SCLPRL60D26I549H,"Dirigente di Ricerca, I Livello",tempo pieno,Rendicontazione a costi standard,ALTO - EPR,NaN,Affiliato,True

In [6]:
ssd.head()

    Cod. SSD       Area                             Area_desc
0  MATH-01/A   AREA 01    SCIENZE MATEMATICHE E INFORMATICHE
1  MATH-01/B   AREA 01    SCIENZE MATEMATICHE E INFORMATICHE
2  MATH-02/A   AREA 01    SCIENZE MATEMATICHE E INFORMATICHE
3  MATH-02/B   AREA 01    SCIENZE MATEMATICHE E INFORMATICHE
4  MATH-03/A   AREA 01    SCIENZE MATEMATICHE E INFORMATICHE

In [7]:
df = pd.merge(cen, mc[['Codice fiscale','Inquadramento contrattuale',
       'MC' ]], on='Codice fiscale', how='left')

In [8]:
df.head()

,Nome,Cognome,Codice fiscale,SSD,Email,age,Inquadramento contrattuale,MC
0,Daniela,Trisciuoglio,TRSDNL73R55H501N,BIOS-10/A,daniela.trisciuoglio@cnr.it,53,Ricercatore,True
1,Serena,Sanna,SNNSRN80S55H856X,BIOS-04/A,serena.sanna@cnr.it,46,Dirigente di Ricerca,True
2,Francesca,Cavalcanti,CVLFNC61T56D086E,BIOS-11/A,francesca.cavalcanti@irib.cnr.it,65,I° Ricercatore TI,True
3,Paolo,Barsocchi,BRSPLA78S27G702C,INFO-01/A,paolo.barsocchi@isti.cnr.it,48,Primo ricercatore,True
4,Antonino,Colanzi,CLNNNN64B29E435X,BIOS-10/A,antonino.colanzi@cnr.it,62,"II Livello, fascia 3",True

In [9]:
len(df)

703

In [10]:
rec.head(3)

,Soggetto,CUP,Ruolo,Nome,Cognome,Codice fiscale,Genere,Data di nascita,Inizio contratto,Fine contratto,Proc reclutamento,Proc Stato,Inquadramento contrattuale,Impegno contrattuale,Modalità di rendicontazione,Sede di lavoro,Livello,Costo orario €,Importo complessivo lordo contrattuale
0,"Università degli Studi di Napoli ""Federico II""...",E63C22002050006,Affiliato a Università degli Studi di Firenze ...,ADRIANA,CERASUOLO,CRSDRN91L60F839J,F,20/07/1991,01/03/2023,31/03/2023,CODPDR_003828,Trasmessa,Borsa di studio dottorato di ricerca,Full-time,Rendicontazione a costi reali,Napoli (NA),NaN,0.0,97532.52
1,"Università degli Studi di Napoli ""Federico II""...",E63C22002050006,Affiliato a Università degli Studi di Firenze ...,ROSA,GATTI,GTTRSO75B53G812A,F,13/02/1975,14/12/2023,13/12/2026,CODPDR_008823,Trasmessa,RTDA,Full-time,Rendicontazione a costi standard,Napoli (NA),BASSO - UNIV,NaN,110519.34
2,"Università degli Studi di Napoli ""Federico II""...",E63C22002050006,Affiliato a Università degli Studi di Firenze ...,ALESSANDRA,DI BELLO,DBLLSN95L52F839G,F,12/07/1995,01/11/2023,31/10/2026,CODPDR_009885,Trasmessa,Borsa di studio dottorato di ricerca Nazionale,Full-time,Rendicontazione a costi reali,Napoli (NA),NaN,NaN,74884.92

In [11]:
len(df)

703

In [12]:
rec.drop_duplicates(['Codice fiscale'], inplace=True)

In [13]:
len(rec)

397

In [14]:
df = pd.merge(df, rec[['Codice fiscale','Inquadramento contrattuale']], on='Codice fiscale', how='left')

In [15]:
len(df)

703

In [16]:
df["inquadramento"] = df["Inquadramento contrattuale_x"].combine_first(
    df["Inquadramento contrattuale_y"]
)

In [17]:
sum(df.inquadramento.isna())

297

In [18]:
df['MC'].fillna(False, inplace=True)
df['inquadramento'].fillna(np.nan, inplace=True)

/var/folders/zh/3166vnf95tnblssyvp6rbhyc0000gn/T/ipykernel_56949/1341613698.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['MC'].fillna(False, inplace=True)
/var/folders/zh/3166vnf95tnblssyvp6rbhyc0000gn/T/ipykernel_56949/1341613698.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['MC'].fillna(False, inplace=True)
/var/folders/zh/3166vnf95tnblssyvp6rbhyc0000gn/T/ipykernel_56949/1341613698.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['inquadramento'].fillna(np.nan, inplace=True)

In [19]:
df.MC.value_counts()

MC
False    471
True     232
Name: count, dtype: int64

In [20]:
# df['SSD'] = df['SSD'].apply(lambda x : x.strip().upper())

In [21]:
df

,Nome,Cognome,Codice fiscale,SSD,Email,age,Inquadramento contrattuale_x,MC,Inquadramento contrattuale_y,inquadramento
0,Daniela,Trisciuoglio,TRSDNL73R55H501N,BIOS-10/A,daniela.trisciuoglio@cnr.it,53,Ricercatore,True,NaN,Ricercatore
1,Serena,Sanna,SNNSRN80S55H856X,BIOS-04/A,serena.sanna@cnr.it,46,Dirigente di Ricerca,True,NaN,Dirigente di Ricerca
2,Francesca,Cavalcanti,CVLFNC61T56D086E,BIOS-11/A,francesca.cavalcanti@irib.cnr.it,65,I° Ricercatore TI,True,NaN,I° Ricercatore TI
3,Paolo,Barsocchi,BRSPLA78S27G702C,INFO-01/A,paolo.barsocchi@isti.cnr.it,48,Primo ricercatore,True,NaN,Primo ricercatore
4,Antonino,Colanzi,CLNNNN64B29E435X,BIOS-10/A,antonino.colanzi@cnr.it,62,"II Livello, fascia 3",True,NaN,"II Livello, fascia 3"
...,...,...,...,...,...,...,...,...,...,...
698,Francesco Paolo,Fanizzi,FNZFNC56S07C975L,CHEM-03/A,francesco.fanizzi@unisalento.it,70,NaN,False,NaN,NaN
699,Biagio,Iacolare,CLRBGI97M15F839A,STAT-03/A,biagio.iacolare@unina.it,29,NaN,False,NaN,NaN
700,Marta,Massei,MSSMRT93A69G843T,PSIC-01/B,marta.massei@unifi.it,33,NaN,False,NaN,NaN
701,Venturina,Stagnu,STGVTR77P46H501I,BIOS-14/A,venturina.stagni@cnr.it,49,NaN,False,NaN,NaN
702,Anna Maria,Carluccio,CRLNMR94C58G751A,09/IINF-05,annamariacarluccio@cnr.it,32,NaN,False,NaN,NaN

In [22]:
df.drop(['Inquadramento contrattuale_x', 'Inquadramento contrattuale_y'],axis=1, inplace=True)

In [23]:
df.head(3)

,Nome,Cognome,Codice fiscale,SSD,Email,age,MC,inquadramento
0,Daniela,Trisciuoglio,TRSDNL73R55H501N,BIOS-10/A,daniela.trisciuoglio@cnr.it,53,True,Ricercatore
1,Serena,Sanna,SNNSRN80S55H856X,BIOS-04/A,serena.sanna@cnr.it,46,True,Dirigente di Ricerca
2,Francesca,Cavalcanti,CVLFNC61T56D086E,BIOS-11/A,francesca.cavalcanti@irib.cnr.it,65,True,I° Ricercatore TI

In [24]:

MAPPER_PATH = "/Users/navid/Documents/1_Projects/0_Age-It/Our Tasks/Mario_report/data/processed/role_mapping.csv" 
# Load mapper
mapper_df = pd.read_csv(MAPPER_PATH)

# Build dict: original_value -> category
role_map = dict(zip(mapper_df["original_value"], mapper_df["category"]))

# Create new column "role" from "inquadramento"
df["role"] = (
    df["inquadramento"]
      .astype(str)
      .str.strip()
      .map(role_map)
)

# If you want unmapped / missing values to go to "Others" instead of NaN:
#df["role"] = df["role"].fillna("Others")

# Optional quick check
# print(df[["inquadramento", "role"]].drop_duplicates().sort_values("inquadramento"))

In [25]:
df

,Nome,Cognome,Codice fiscale,SSD,Email,age,MC,inquadramento,role
0,Daniela,Trisciuoglio,TRSDNL73R55H501N,BIOS-10/A,daniela.trisciuoglio@cnr.it,53,True,Ricercatore,Ricercatore
1,Serena,Sanna,SNNSRN80S55H856X,BIOS-04/A,serena.sanna@cnr.it,46,True,Dirigente di Ricerca,Ricercatore
2,Francesca,Cavalcanti,CVLFNC61T56D086E,BIOS-11/A,francesca.cavalcanti@irib.cnr.it,65,True,I° Ricercatore TI,Ricercatore
3,Paolo,Barsocchi,BRSPLA78S27G702C,INFO-01/A,paolo.barsocchi@isti.cnr.it,48,True,Primo ricercatore,Ricercatore
4,Antonino,Colanzi,CLNNNN64B29E435X,BIOS-10/A,antonino.colanzi@cnr.it,62,True,"II Livello, fascia 3",Ricercatore
...,...,...,...,...,...,...,...,...,...
698,Francesco Paolo,Fanizzi,FNZFNC56S07C975L,CHEM-03/A,francesco.fanizzi@unisalento.it,70,False,NaN,NaN
699,Biagio,Iacolare,CLRBGI97M15F839A,STAT-03/A,biagio.iacolare@unina.it,29,False,NaN,NaN
700,Marta,Massei,MSSMRT93A69G843T,PSIC-01/B,marta.massei@unifi.it,33,False,NaN,NaN
701,Venturina,Stagnu,STGVTR77P46H501I,BIOS-14/A,venturina.stagni@cnr.it,49,False,NaN,NaN
702,Anna Maria,Carluccio,CRLNMR94C58G751A,09/IINF-05,annamariacarluccio@cnr.it,32,False,NaN,NaN

In [29]:
df[df['MC']==True].describe()

              age
count  232.000000
mean    55.754310
std      8.515073
min     36.000000
25%     49.000000
50%     56.000000
75%     62.000000
max     74.000000

In [30]:
df[df['MC']==False].describe()

              age
count  471.000000
mean    41.227176
std     13.084561
min     27.000000
25%     33.000000
50%     38.000000
75%     47.000000
max    126.000000

In [31]:
mc.head(3)

,Codice,Soggetto,CUP,Nome,Cognome,Codice fiscale,Inquadramento contrattuale,Impegno contrattuale,Modalità di rendicontazione,Livello,Costo orario €,Ruolo ricoperto,MC
0,PE_00000015,Consiglio Nazionale delle Ricerche - CNR,B83C22004880006,Daniela,Trisciuoglio,TRSDNL73R55H501N,Ricercatore,tempo pieno,Rendicontazione a costi standard,ALTO - EPR,NaN,Spoke,True
1,PE_00000015,Consiglio Nazionale delle Ricerche - CNR,B83C22004880006,Tiziana,Tesauro,TSRTZN71H58F205V,Ricercatore (III livello),tempo pieno,Rendicontazione a costi standard,MEDIO - EPR,NaN,Affiliato,True
2,PE_00000015,Consiglio Nazionale delle Ricerche - CNR,B83C22004880006,Pietro,Siciliano,SCLPRL60D26I549H,"Dirigente di Ricerca, I Livello",tempo pieno,Rendicontazione a costi standard,ALTO - EPR,NaN,Affiliato,True

In [32]:
def cf2age(cf):
    from datetime import datetime
    current_year = datetime.now().year
    return current_year - (int(cf[6:8]) + 1900)


mc['age'] = mc['Codice fiscale'].apply(cf2age)

In [34]:
mc['age'].describe()

count    379.000000
mean      55.720317
std        8.766874
min       31.000000
25%       49.000000
50%       56.000000
75%       62.000000
max       82.000000
Name: age, dtype: float64

In [35]:
rec['age'] = rec['Codice fiscale'].apply(cf2age)

In [36]:
rec['age'].describe()

count    397.000000
mean      38.173804
std       13.664357
min       27.000000
25%       32.000000
50%       35.000000
75%       40.000000
max      126.000000
Name: age, dtype: float64

In [37]:
df.head()

,Nome,Cognome,Codice fiscale,SSD,Email,age,MC,inquadramento,role
0,Daniela,Trisciuoglio,TRSDNL73R55H501N,BIOS-10/A,daniela.trisciuoglio@cnr.it,53,True,Ricercatore,Ricercatore
1,Serena,Sanna,SNNSRN80S55H856X,BIOS-04/A,serena.sanna@cnr.it,46,True,Dirigente di Ricerca,Ricercatore
2,Francesca,Cavalcanti,CVLFNC61T56D086E,BIOS-11/A,francesca.cavalcanti@irib.cnr.it,65,True,I° Ricercatore TI,Ricercatore
3,Paolo,Barsocchi,BRSPLA78S27G702C,INFO-01/A,paolo.barsocchi@isti.cnr.it,48,True,Primo ricercatore,Ricercatore
4,Antonino,Colanzi,CLNNNN64B29E435X,BIOS-10/A,antonino.colanzi@cnr.it,62,True,"II Livello, fascia 3",Ricercatore

In [38]:
df[df['MC'] == True]['role'].value_counts()

role
Professore Ordinario    97
Professore Associato    82
Ricercatore             35
Others                  15
Name: count, dtype: int64

In [39]:
df[df['MC'] == True]['role'].value_counts(normalize=True)

role
Professore Ordinario    0.423581
Professore Associato    0.358079
Ricercatore             0.152838
Others                  0.065502
Name: proportion, dtype: float64

In [40]:
df[df['MC'] == False]['role'].value_counts()

role
Ricercatore    139
Dottorando      35
Name: count, dtype: int64

In [41]:
df[df['MC'] == False]['role'].value_counts(normalize=True)

role
Ricercatore    0.798851
Dottorando     0.201149
Name: proportion, dtype: float64

In [44]:
mc.head()

,Codice,Soggetto,CUP,Nome,Cognome,Codice fiscale,Inquadramento contrattuale,Impegno contrattuale,Modalità di rendicontazione,Livello,Costo orario €,Ruolo ricoperto,MC,age
0,PE_00000015,Consiglio Nazionale delle Ricerche - CNR,B83C22004880006,Daniela,Trisciuoglio,TRSDNL73R55H501N,Ricercatore,tempo pieno,Rendicontazione a costi standard,ALTO - EPR,NaN,Spoke,True,53
1,PE_00000015,Consiglio Nazionale delle Ricerche - CNR,B83C22004880006,Tiziana,Tesauro,TSRTZN71H58F205V,Ricercatore (III livello),tempo pieno,Rendicontazione a costi standard,MEDIO - EPR,NaN,Affiliato,True,55
2,PE_00000015,Consiglio Nazionale delle Ricerche - CNR,B83C22004880006,Pietro,Siciliano,SCLPRL60D26I549H,"Dirigente di Ricerca, I Livello",tempo pieno,Rendicontazione a costi standard,ALTO - EPR,NaN,Affiliato,True,66
3,PE_00000015,Consiglio Nazionale delle Ricerche - CNR,B83C22004880006,Serena,Sanna,SNNSRN80S55H856X,Dirigente di Ricerca,tempo pieno,Rendicontazione a costi standard,ALTO - EPR,NaN,Spoke,True,46
4,PE_00000015,Consiglio Nazionale delle Ricerche - CNR,B83C22004880006,Paolo,Matteini,MTTPLA77B04D612X,"Dirigente di Ricerca, I Livello",tempo pieno,Rendicontazione a costi standard,ALTO - EPR,NaN,Affiliato,True,49

In [49]:
mc['Inquadramento contrattuale'].unique().tolist()

['Ricercatore ',
 'Ricercatore (III livello)',
 'Dirigente di Ricerca, I Livello',
 'Dirigente di Ricerca',
 'Primo Ricercatore',
 'I° Ricercatore TI',
 'Primo ricercatore',
 'II Livello, fascia 3',
 'Dirigente di Ricerca IV FASCIA',
 'Primo Ricercatore (II livello)',
 "PRIMO RICERCATORE FINO AL 31/12/2022, DAL 01/01/2023 E' DIVENTATO DIRIGENTE DI RICERCA",
 'I ricercatore',
 'Dirigente di ricerca',
 'I livello - Dirigente di Ricerca',
 'Direttore IRPPS',
 'Dirigente di Ricerca I Livello',
 '1° RICERCATORE - II livello',
 'dal 1/01/2023 è Primo ricercatore',
 'dirigente di ricerca',
 'Quadro',
 'PROF. STATISTICO I LIV.',
 'FUNZIONARIO C1',
 'DIRIG. ART. 19 CO.6 INC. DIRIG.',
 'CO.CO.CO.',
 "Responsabile UOC Geriatria/Centro di Ricerca per l'invecchiamento Cosenza in convenzione",
 'Direttore Dipartimento Strutturale Percorsi Geriatrici della Fragilità, della Continuità delle Cure e Riabilitativi',
 'Dirigente Sociologo PTA',
 "Responsabile UOC Centro Strudi e Ricerche Economico Sociali per l'invecchiamento",
 'Direttore Scientifico',
 'Collaboratore Amministrativo Categ. D',
 'Digente Medico in convenzione',
 'Dirigente Biologo in convenzione',
 'Direttore Struttura UOC Clinica di Medicina di Laboratorio di Precisione in convenzione',
 "Responsabile UOC Centro Tecnologie Avanzate nell'invecchiamento",
 'Responsabile UOSD Innovazione e Ricerca Trasferimento Tecnologico',
 'Ricercatore',
 'DIRETTORE CENTRALE',
 'CCNL METALMECCANICI - Quadro S',
 'CCNL METALMECCANICI - Impiegato',
 'PO',
 'PA',
 'RTD',
 'RU',
 'Professore Associato',
 'Professore Ordinario',
 'PO ',
 'RTD DM 856/2020',
 'Associato',
 'RIC',
 "Direttore Struttura  UOC Centro Neurobiologico dell'Invecchiamento in convenzione",
 'Funzionario Business con 5 anni di anzianità (classe 2^',
 'Impiegato',
 'Dirigente',
 'BIOLOGO,\nPERSONALE\nDIPENDENTE',
 'RTDb',
 'direttore di Istituto ',
 'Responsabile UOC Medicina Riabilitativa',
 'PROFESSORE ORDINARIO',
 'Ricercatore RTDb',
 'Professore associato',
 'Ricercatore di III livello',
 'Dirigente Medico',
 'Direttore']

In [50]:
MAPPER_PATH = "/Users/navid/Documents/1_Projects/0_Age-It/Our Tasks/Mario_report/data/processed/role_mapping.csv" 
# Load mapper
mapper_df = pd.read_csv(MAPPER_PATH)

# Build dict: original_value -> category
role_map = dict(zip(mapper_df["original_value"], mapper_df["category"]))

# Create new column "role" from "inquadramento"
mc["role"] = (
    mc["Inquadramento contrattuale"]
      .astype(str)
      .str.strip()
      .map(role_map)
)

In [53]:
mc['role'].value_counts(normalize=True)

role
Professore Ordinario    0.423280
Professore Associato    0.312169
Ricercatore             0.153439
Others                  0.111111
Name: proportion, dtype: float64

In [ ]:
Ct = len(df)
Mo = len(mc)
Mc = sum(df['MC'])
Ro = len(rec)
Rc = Ct - Mc

SyntaxError: invalid syntax (4041151627.py, line 1)

In [28]:
Rc

471