In [23]:
import pandas as pd

In [24]:
# df = pd.read_csv('/Users/navid/Documents/1_Projects/0_Age-It/Our Tasks/people_cleaner/tech4age_exports/researchers_19-11-2025.csv')
df = pd.read_csv('/Users/navid/Documents/1_Projects/0_Age-It/Our Tasks/people_cleaner/tech4age_exports/researchers_08-01-2026.csv')

In [25]:
df.head(3)

,Soggetto,Nome,Cognome,Codice fiscale,Email,social media,Biosketch,Scientific-disciplinary group,Research interests,task,spoke,WP,Settore scientifico-disciplinare
0,Consiglio Nazionale delle Ricerche - CNR,Daniela,Trisciuoglio,TRSDNL73R55H501N,daniela.trisciuoglio@cnr.it,NaN,NaN,NaN,Autophagy,2; 5,2,2,BIOS-10/A
1,Consiglio Nazionale delle Ricerche - CNR,Tiziana,Tesauro,TSRTZN71H58F205V,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Consiglio Nazionale delle Ricerche - CNR,Pietro,Siciliano,SCLPRL60D26I549H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df.dropna(subset=['spoke'], inplace=True)

In [27]:
# registered online
sum(df['spoke'].value_counts().values)

466

In [28]:
cens_online = df.copy()

In [29]:
cens_online = cens_online[['Nome', 'Cognome', 'Codice fiscale', 'Settore scientifico-disciplinare', 'Email']]

In [30]:
cens_online

,Nome,Cognome,Codice fiscale,Settore scientifico-disciplinare,Email
0,Daniela,Trisciuoglio,TRSDNL73R55H501N,BIOS-10/A,daniela.trisciuoglio@cnr.it
3,Serena,Sanna,SNNSRN80S55H856X,BIOS-04/A,serena.sanna@cnr.it
6,Francesca,Cavalcanti,CVLFNC61T56D086E,BIOS-11/A,francesca.cavalcanti@irib.cnr.it
7,Paolo,Barsocchi,BRSPLA78S27G702C,INFO-01/A,paolo.barsocchi@isti.cnr.it
8,Antonino,Colanzi,CLNNNN64B29E435X,BIOS-10/A,antonino.colanzi@cnr.it
...,...,...,...,...,...
770,Gessica,Sala,SLAGSC71M67I625L,MEDS-12/A,gessica.sala@unimib.it
771,MARIA,EPIFANIA,PFNMRA93B41F839U,GIUR-01/A,maria.epifania@unimol.it
772,ARIANNA,COSTANTINI,CSTRNN91M67L781E,PSIC-03/B,arianna.costantini@uniroma2.it
773,FRANCESCA,SARNO,SRNFNC79E62H501M,CEAR-09/A,francesca.sarno@uniroma1.it
774,Simona,Incollu,NCLSMN72B47B354H,BIOS-08/A,simona.incollu@gmail.com

In [31]:
manual = pd.read_excel('/Users/navid/Documents/1_Projects/0_Age-It/Our Tasks/people_cleaner/manually_gathered_cane.xlsx')
# manual = pd.read_excel('/Users/navid/Documents/1_Projects/0_Age-It/Our Tasks/people_cleaner/manually_gathered_cleaned_19-11-2025.xlsx')

In [32]:
manual.columns

Index(['CodiceFiscale', 'Affiliation/Università', 'Nome', 'Cognome',
       'Settore scientifico-disciplinare', 'Email', 'Research Interests',
       'Spoke', 'WP', 'Task', 'Unnamed: 10'],
      dtype='object')

In [33]:
manual = manual[['Nome', 'Cognome', 'CodiceFiscale', 'Settore scientifico-disciplinare', 'Email']]
manual.columns = ['Nome', 'Cognome', 'Codice fiscale', 'Settore scientifico-disciplinare', 'Email']

In [34]:
manual.head(3)

,Nome,Cognome,Codice fiscale,Settore scientifico-disciplinare,Email
0,Erica,Salvati,SLVRCE75H43H501Z,05/BIOS-08,erica.salvati@cnr.it
1,Giovanna,Apicella,PCLGNN89S44L424C,STAT-04/A,giovanna.apicella@uniud.it
2,Andela,Dindic,DNDNDL93D53Z153I,PSIC-03/A,andela.dindic@stiima-cnr.it

In [35]:
cens_online.head(3)

,Nome,Cognome,Codice fiscale,Settore scientifico-disciplinare,Email
0,Daniela,Trisciuoglio,TRSDNL73R55H501N,BIOS-10/A,daniela.trisciuoglio@cnr.it
3,Serena,Sanna,SNNSRN80S55H856X,BIOS-04/A,serena.sanna@cnr.it
6,Francesca,Cavalcanti,CVLFNC61T56D086E,BIOS-11/A,francesca.cavalcanti@irib.cnr.it

In [36]:
ssd = pd.concat([cens_online, manual])

In [37]:
ssd.columns = ['Nome', 'Cognome', 'Codice fiscale', 'SSD', 'Email']

In [38]:
ssd[ssd['Codice fiscale'] == 'CNOLN71C56G224A']

Empty DataFrame
Columns: [Nome, Cognome, Codice fiscale, SSD, Email]
Index: []

In [39]:
def cf2age(cf):
    from datetime import datetime
    current_year = datetime.now().year
    return current_year - (int(cf[6:8]) + 1900)

In [40]:
ssd['age'] = ssd['Codice fiscale'].apply(cf2age)

In [41]:
ssd.age.mean()

46.02133712660029

In [42]:
ssd

,Nome,Cognome,Codice fiscale,SSD,Email,age
0,Daniela,Trisciuoglio,TRSDNL73R55H501N,BIOS-10/A,daniela.trisciuoglio@cnr.it,53
3,Serena,Sanna,SNNSRN80S55H856X,BIOS-04/A,serena.sanna@cnr.it,46
6,Francesca,Cavalcanti,CVLFNC61T56D086E,BIOS-11/A,francesca.cavalcanti@irib.cnr.it,65
7,Paolo,Barsocchi,BRSPLA78S27G702C,INFO-01/A,paolo.barsocchi@isti.cnr.it,48
8,Antonino,Colanzi,CLNNNN64B29E435X,BIOS-10/A,antonino.colanzi@cnr.it,62
...,...,...,...,...,...,...
232,Francesco Paolo,Fanizzi,FNZFNC56S07C975L,CHEM-03/A,francesco.fanizzi@unisalento.it,70
233,Biagio,Iacolare,CLRBGI97M15F839A,STAT-03/A,biagio.iacolare@unina.it,29
234,Marta,Massei,MSSMRT93A69G843T,PSIC-01/B,marta.massei@unifi.it,33
235,Venturina,Stagnu,STGVTR77P46H501I,BIOS-14/A,venturina.stagni@cnr.it,49
236,Anna Maria,Carluccio,CRLNMR94C58G751A,09/IINF-05,annamariacarluccio@cnr.it,32

In [43]:
ssd.to_csv('../data/processed/censimento.csv', index=False)