In [1]:
import pandas as pd

In [6]:
df = pd.read_excel('/Users/navid/Documents/1_Projects/0_Age-It/Our Tasks/Mario_report/data/Personale Age-It.xlsx', sheet_name='personale massa critica')

In [7]:
df.columns

Index(['Codice', 'Soggetto', 'CUP', 'Nome', 'Cognome', 'Codice fiscale',
       'Inquadramento contrattuale', 'Impegno contrattuale',
       'Modalità di rendicontazione', 'Livello', 'Costo orario €',
       'Ruolo ricoperto'],
      dtype='object')

In [8]:
df = df[['Nome', 'Cognome', 'Codice fiscale',
       'Inquadramento contrattuale']]

In [10]:
df['MC'] = True

In [11]:
df

,Nome,Cognome,Codice fiscale,Inquadramento contrattuale,MC
0,Daniela,Trisciuoglio,TRSDNL73R55H501N,Ricercatore,True
1,Tiziana,Tesauro,TSRTZN71H58F205V,Ricercatore (III livello),True
2,Pietro,Siciliano,SCLPRL60D26I549H,"Dirigente di Ricerca, I Livello",True
3,Serena,Sanna,SNNSRN80S55H856X,Dirigente di Ricerca,True
4,Paolo,Matteini,MTTPLA77B04D612X,"Dirigente di Ricerca, I Livello",True
...,...,...,...,...,...
372,Giuseppe,Passarino,PSSGPP64A07D086R,PO,True
373,Massimo,Armenise,RMNMSM78H23A662X,Ricercatore di III livello,True
374,Elvira,Filicetti,FLCLVR86R63D086K,Dirigente Medico,True
375,Luca,Soraci,SRCLCU89D01F158E,Dirigente Medico,True
376,Gianfranco,Santoro,SNTGFR70S13H501C,Direttore,True

In [13]:
df.to_csv('../data/processed/massa_critica.csv', index=False)